.sec {
  display: flex;
  justify-content: center;
  width: auto;
  height: 70.875rem;
  color: var(--orange);

}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42.5rem;
  height: 18.75rem;
  font-family: FreeSerif, sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2.063rem;
  line-height: 1.5rem;
  gap: 1rem;
  /*margin: 4.063rem 0 2rem 10rem; cima direita baixo esquerda*/
}

.about p {
  font-family: nunito;
  font-size: 1rem;
  color: var(--light-text);
}

.projects {
  width: 58.375rem;
  height: 18.75rem;
  margin-top: 2.6rem;
  border-top: 1px solid rgb(40,40,40);

}