/* Color Theme Swatches in Hex */
.Panorama-milky-way-galaxy-with-stars-and-space-dust-in-the-universe-1-hex { color: #5833A6; }
.Panorama-milky-way-galaxy-with-stars-and-space-dust-in-the-universe-2-hex { color: #8679D9; }
.Panorama-milky-way-galaxy-with-stars-and-space-dust-in-the-universe-3-hex { color: #2E3D59; }
.Panorama-milky-way-galaxy-with-stars-and-space-dust-in-the-universe-4-hex { color: #141A26; }
.Panorama-milky-way-galaxy-with-stars-and-space-dust-in-the-universe-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Panorama-milky-way-galaxy-with-stars-and-space-dust-in-the-universe-1-rgba { color: rgba(87, 51, 165, 1); }
.Panorama-milky-way-galaxy-with-stars-and-space-dust-in-the-universe-2-rgba { color: rgba(134, 121, 216, 1); }
.Panorama-milky-way-galaxy-with-stars-and-space-dust-in-the-universe-3-rgba { color: rgba(46, 60, 89, 1); }
.Panorama-milky-way-galaxy-with-stars-and-space-dust-in-the-universe-4-rgba { color: rgba(19, 26, 38, 1); }
.Panorama-milky-way-galaxy-with-stars-and-space-dust-in-the-universe-5-rgba { color: rgba(12, 12, 12, 1); }

:root {
  --orange: #F25C5C;
  --light-orange: #BF5A6C;
  --blue-100: #344973;
  --blue-400: #132240;
  --blue-900: #0A1326;
  --light-text: #B5B5B5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #0D0D0D;
  color: var(--light-text);
  box-sizing: border-box;
  font-family: FreeSerif, sans-serif;
  font-weight: 400;
} 