:root {
  --orange: #F25C5C;
  --light-orange: #BF5A6C;
  --blue-100: #344973;
  --blue-400: #132240;
  --blue-900: #0A1326;
  --light-text: #B5B5B5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--blue-400);
  color: var(--light-text);
  box-sizing: border-box;
  font-family: nunito, sans-serif;
} 